* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000428,
    #004e92
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000428,
    #004e92
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin: 16%;
  width: 90%;
  max-width: 500px;
  color: #fff;
}

.container h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.container h2 span {
  color: rgb(64, 197, 153);
  border-bottom: 3px solid rgba(64, 197, 153, 0.646);
}

.row {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  padding: 18px 16px;
}

.row input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 20px;
}

.row img {
  width: 30px;
  cursor: pointer;
}

.container button {
  font-size: 18px;
  text-transform: capitalize;
  background-color: rgba(64, 197, 153, 0.646);
  color: #fff;
  padding: 8px 10px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 260px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 2px;
}

.container button img {
  width: 26px;
  margin-right: 12px;
}

.container button:hover {
  background-color: rgba(64, 197, 153, 0.443);
  color: rgb(64, 197, 153);
}
